*{
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #181212;
    color: #FFF;
    margin: 1vh 5vw;
    height: 90vh;
}

.cabecalho {
    width: 100vw;
    height: 5vh;
    background-color: #FFFF;
    color: #000000;
}

.cabecalho h1 {
    text-align: center;
}

.cabecalho nav {
    float: left;
}

.cabecalho nav a {
    padding: 0 20vw;
}

.conteudo {
    clear: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudo article h2 {
    text-align: center;
}

.conteudo article p {
    font-style: italic;
    letter-spacing: 2px;
}

.rodape nav ul {
    list-style: none;
    margin: 20vh 0vh;
}

@media only screen and (max-width:1622px) and (max-width: 1915px) {
    .rodape nav ul {
        margin: 55vh 0vh;
    }
}

@media only screen and (max-width:860px) and (max-width: 1621px) {
    .rodape nav ul {
        margin: 45vh 0vh;
    }
}
